body >  .info {
  display: flex;
}

.card {
  border: 1px solid #000;
  display: inline-block;
}

.list {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
}

.list > article {
  
  margin: 10px 0;
  border: 1px solid green;
  display: inline-flex;
  flex-direction: column;
  align-items: start;
}